<% post = Post.all.find(@post) %>
  <h1> <%= post.name %> </h1>
  <p> <%= post.content %> </p>

  <form method="post" action="/posts/<%= @post %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
